
#///////////////////////////
# Cocos Creator Project
#///////////////////////////

/library/
/temp/
/local/
/build/
/profiles/
/native/engine/android/**/*/assets

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

# Creator generated
library/
temp/
local/
build/
native/
profiles/

funplay-cocos-mcp.config.json
